In [1]:
  # Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [4]:
company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)

result = [{'name': company['name']} for company in sorted_companies]

for item in result:
    print(item)

{'name': 'Company 3'}
{'name': 'Company 2'}
{'name': 'Company 1'}

In [5]:
company_detail_list = [
    {
        'name': 'Company 1',
        'domain': 'Retail',
        'country': 'United States'
    },
    {
        'name': 'Company 2',
        'domain': 'Technology',
        'country': 'United Kingdom'
    },
    {
        'name': 'Company 3',
        'domain': 'Healthcare',
        'country': 'United States'
    }
]

for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [8]:
data = {
    "Retail": ["John Doe", "Robert White", "Ying Han Tan"],
    "Technology": ["Tom Smith", "Rubby Lee"],
    "Healthcare": ["Kenneth Ng", "Andrew Sebastian"]
}

# Mencetak data dengan format yang diinginkan
print("{")
for category, names in data.items():
    print(f'    "{category}": [')
    for name in names:
        print(f'        "{name}",')
    print("    ],")
print("}")

{
    "Retail": [
        "John Doe",
        "Robert White",
        "Ying Han Tan",
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee",
    ],
    "Healthcare": [
        "Kenneth Ng",
        "Andrew Sebastian",
    ],
}

In [12]:
employee_detail_list = [
    {'full_name': 'John Doe', 'company': 'Company 1'},
    {'full_name': 'Tom Smith', 'company': 'Company 2'},
    {'full_name': 'Andrew Sebastian', 'company': 'Company 3'},
    {'full_name': 'Ying Han Tan', 'company': 'Company 1'},
    {'full_name': 'Kenneth Ng', 'company': 'Company 3'},
    {'full_name': 'Rubby Lee', 'company': 'Company 2'},
    {'full_name': 'Robert White', 'company': 'Company 1'},
]

company_detail_list = [
    {'name': 'Company 1', 'country': 'United States'},
    {'name': 'Company 2', 'country': 'United Kingdom'},
    {'name': 'Company 3', 'country': 'United Kingdom'},
]

def employees_with_company_country():
    result = []
    for employee in employee_detail_list:
        company_name = employee['company']
        company_country = next(
            (company['country'] for company in company_detail_list if company['name'] == company_name), None
        )
        if company_country:
            result.append({
                'full_name': employee['full_name'],
                'company': company_name,
                'country': company_country
            })
    return result

employees = employees_with_company_country()
print("[")
for item in employees:
    print("    {")
    print(f'        "full_name": "{item["full_name"]}",')
    print(f'        "company": "{item["company"]}",')
    print(f'        "country": "{item["country"]}"')
    print("    },")
print("]")

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United Kingdom"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United Kingdom"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    },
]

In [11]:
def get_companies_with_employee_nationality():
    employees = [
        {'company': 'Company 1', 'nationality': 'Australia'},
        {'company': 'Company 1', 'nationality': 'Australia'},
        {'company': 'Company 1', 'nationality': 'Hong Kong'},
        {'company': 'Company 2', 'nationality': 'Hong Kong'},
        {'company': 'Company 2', 'nationality': 'United States'},
        {'company': 'Company 3', 'nationality': 'United States'},
        {'company': 'Company 3', 'nationality': 'United States'},
    ]
    
    company_nationality_count = {}
    
    for emp in employees:
        company = emp['company']
        nationality = emp['nationality']
        company_nationality_count.setdefault(company, {}).setdefault(nationality, 0)
        company_nationality_count[company][nationality] += 1
    
    # Mengurutkan dan menampilkan hasil
    for company, nationalities in sorted(company_nationality_count.items()):
        print(f"Company: {company}")
        for nationality, count in nationalities.items():
            print(f"  {nationality}: {count}")
        print()  # Baris kosong untuk pemisah antar perusahaan

# Memanggil fungsi
get_companies_with_employee_nationality()

Company: Company 1
  Australia: 2
  Hong Kong: 1

Company: Company 2
  Hong Kong: 1
  United States: 1

Company: Company 3
  United States: 2